
@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div class="mainBox">
    <div class="main-container">
        <div class="main-container">
            <ul id="assignTree" class="dtree" data-id="0"></ul>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="button-container">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" onclick="save()">
            <i class="layui-icon layui-icon-ok"></i>
            提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm" onclick="reset()">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
        </button>
    </div>
</div>
@section Scripts {
    <script>
        layui.use(['form', 'jquery', 'common', 'dtree'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let dtree = layui.dtree;


            dtree.render({
                elem: "#assignTree",
                url: "/System/SysAction/Assign/@ViewBag.RoleId",
                method: "get",
                checkbar: true,
                checkbarType: "self" // 默认就是all，其他的值为： no-all  p-casc   self  only
            });

            window.reset = function () {
                location.reload();
                //dtree.refreshTree();
            }

            window.save = function ()  {
                var params = dtree.getCheckbarNodesParam("assignTree");
                common.ajax("/System/SysRole/Assign", "post", {id:"@ViewBag.RoleId",dtrees:params}, true, true).done(function (response) {
                    layer.msg(response.msg, { icon: 1, time: 1000 }, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        parent.layui.table.reload("tableId");
                    });
                }).fail(function (error) {
                    console.log(error)
                });
            };
        });

    </script>
}
