<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!-- ================== 1：log4net日志相关配置 ================== -->
	<add key="log4net.Config" value="Configs/log4net.config"/>
	<add key="log4net.Config.Watch" value="True" />
	<!-- ================== 2：开发系统相关配置 ================== -->
	<!--初始化密码-->
	<add key="InitUserPwd" value="123456" />
	<!--上传文件大小-->
	<add key="UploadFileByImgSize" value="2048" />
	<!--上传文件类型-->
	<add key="UploadFileByImgType" value="png|gif|jpg|jpeg" />
</appSettings>